<div class="container">
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Employee</button>
<!-- <input type="text" #searchInput class="form-control" style="width:600px;margin-left: 500px" (keyup)="SearchEmployee(searchInput.value)" placeholder="SearchEmployee..." > -->
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>EMPLOYEENAME</th>
            <th>DESCRIPTION</th>
            <!-- <th>pipe</th> -->
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employee | paginate: config; let i=index">
            <td>{{emp.id }}</td>
            <td>{{emp.name | firstupper}}</td>
            <td>{{emp.description | firstupper }}</td>
            <!-- <td>{{emp.name | reversestring}}</td> -->
            <td>
              <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" (click)="editEmployee(i)" >edit</button> |
              <button  class="btn btn-danger" (click)="confirmDelete(emp.id)" >Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
</div>

<div>
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content for add -->
    <div class="modal-content">
      <div class="container">


      <form (ngSubmit)="onEmployeeSave(f)" #f="ngForm">
          <div class="modal-header">
          <h2 style="margin-left: 120px" class="modal-title">Add</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="form-group" >
            <label>Employee Name</label>
            <input name="name" ngModel class="form-control" #Name="ngModel" type="text" style="width: 300px" placeholder="Name" required>
      <label class="alert alert-danger" *ngIf="Name.hasError('required') && !Name.pristine" >Name Required.</label>
          </div>

          <div class="form-group" >
            <label>Description</label>
            <input name="description" required Description ngModel #Description="ngModel"   type="text" class="form-control" style="width: 300px" placeholder="Description">
            <label class="alert alert-danger" *ngIf="Description.hasError('required') && !Description.pristine"  >Description  is required.</label>

          </div>

          <div class="form-group">
            <button  [disabled]="!f.valid" type="submit" style="width: 100px" class="form-control btn btn-info">Save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-toggle="modal"  data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>



<div class="modal fade" id="myModal1" role="dialog"  data-backdrop="static">
  <div class="modal-dialog">

    <!-- Modal content for edit-->
    <div class="modal-content">
      <div class="container">


      <form (ngSubmit)="UpdateEmployee(f1)"  #f1="ngForm">
          <h2 style="margin-left: 80px">Edit</h2>
          <div class="form-group" >
              <label>Employee Id</label>
              <input name="id" [(ngModel)]="empid"  class="form-control" style="width: 300px"  type="text" placeholder="Enter EmployeeName">

            </div>
          <div class="form-group" >
            <label>Employee Name</label>
            <input name="name" [(ngModel)]="employeename"  class="form-control" style="width:300px"  type="text" placeholder="Enter EmployeeName">

          </div>
          <div class="form-group" >
            <label>description</label>
            <input name="description"  [(ngModel)]="department" class="form-control"  style="width: 300px"  type="text"  placeholder="Enter Department ">

          </div>

          <div class="form-group">
            <button type="submit" style="width: 100px"  class="form-control btn btn-info" >Update</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
