<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">EmployeeDetails</a>
  <!-- <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button>
   -->
   <button pButton type="button" (click)="OnClick()" icon="pi pi-arrow-right"></button> &nbsp;&nbsp;

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li ><a routerLinkActive="active" routerLink="">Home</a></li>&nbsp;&nbsp;
      <li><a routerLinkActive="active" routerLink="/employee">Employees</a></li>
      <!-- <li><a routerLinkActive="active" routerLink="/contactus">Contact US</a></li> -->
    </ul>
  </div>
</nav>


