<app-menu (sidebar)="side()"></app-menu>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <h3 style="font-weight:normal">Employee Details</h3>
       <ul class="nav flex-column">
           <li class="nav-item">
             <a class="nav-link active active-class" [routerLink]="['/contactus']" routerLinkActive="router-link-active" ><img class="icon" src="assets/tele.png">Contact</a>
           </li>

           <li class="nav-item">
             <a class="nav-link" [routerLink]="['/employee']" routerLinkActive="router-link-active" ><img class="icon" src="assets/about.png">About us</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" [routerLink]="['']"><img class="icon" src="assets/setting.png">Settings</a>
           </li>
           <!-- <li class="nav-item">
             <a class="nav-link disabled" href="#">Disabled</a>
           </li> -->
         </ul>
</p-sidebar>
<!-- <button pButton type="button" (click)=" visibleSidebar1=true" icon="pi pi-arrow-right"></button> -->


